@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="font-family: Copperplate, Fantasy;">Welcome to KPMG DevOps Training !!!</h1>
    <p style="font-family: Lucida Handwriting, Cursive;">Jenkins CI/CD Pipeline DevOps - Building .net Web-Apps with Docker Jenkins</p>
        <img src="~/images/RealWorldCICDCourse.PNG" alt="CI_logo" width="450">
    </a>
    <h2>Demo By: Abhishek Samanta</h2>
    <img src="https://media.licdn.com/dms/image/C5103AQGqzjLzUcJiig/profile-displayphoto-shrink_800_800/0/1516939508529?e=2147483647&v=beta&t=YuUWV6Ge0ECYkdXCDFcgaf6O8bo-9XaXyouajc4mkDM"/>
    <h3>GitHub Webhook Trigger for CICD</h3>
    <h4>KPMG DevOps</h4>
</div>
